<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.project }} &ndash; {{ site.url }} </title>
    <meta name="description" content="{{ site.fulldescription }} &ndash; {{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <div id="header">
        <nav>
          <li class="fork"><a
            href="{{ site.githuburl }}">Fork On GitHub</a></li>
          <li class="downloads">
          <a href="{{ site.githuburl }}/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.project }}</h1>
          <hr>
          <span class="credits left">Repo maintained by <a
              href="http://{{ site.url }}">{{ site.author }}</a> &mdash;
          Contact <a
            href="mailto:{{ site.email }}">{{ site.email }}</a> &mdash; 
          Hosted on <a href="http://pages.github.com/">GitHub Pages</a> &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </div>
        {{ content }}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
